*{
    max-width: 100vw;
}

body {
    max-width: 580px;
    margin: 0 auto;
    font-family: Lustria,serif;
    font-weight: Normal;
    color: #4b4b4b;
    font-size: 16px;
    text-align: justify;
    line-height: 170%;
    font-family: Lustria,serif;
    color: #4b4b4b;
    text-align: justify;
    line-height: 170%;
    /* background: url(https://www.indivstock.com/static40/preview2/stoc-569830.jpg), 
    url(https://www.indivstock.com/static40/preview2/stoc-569830.jpg); */
    
}

#gif-desc{
    font-family: Lustria,serif;
    color: coral;
    margin: 1px;
}

#footer {
    display: flex;
    margin: 0 auto;
    height: 50px;
    color: black;
    font-size: 15px;
    justify-content: center;

}

#footer a {
    /* display: flex;
    margin: 0 auto; */
    font-size: 15px;
}